* {
    background-color: black;
    color: white;
    font-family: "DM sans", sans-serif;
}

a {
    text-decoration: none;
}

button {
    background-color: white;
    color: black;
    padding: 10px;
    cursor: pointer;
}

.navbar {
    width: 100vw;
    padding: 0px;
    overflow: hidden;
    list-style-type: none;
}

.navbar li {
    float: left;
    padding: 0px;
}

.navbar li a {
    display: block;
    padding: 16px;
}

.contact-link {
    padding: 12px 0px;
    font-size: 20px;
    transition: background-color 0.2s, color 0.2s;
}

.contact-link:hover {
    background-color: white;
    color: black;
}

.homepage-link-container {
    display: grid;
    padding: 20px;
}

.homepage-link {
    margin: 10px;
    padding: 10px;
    height: 20vh;
    border: 1px solid white;
    border-radius: 10px;
    transition: background-color 0.2s, color 0.2s;
}

.homepage-link b {
    transition: background-color 0.2s, color 0.2s;
}

.homepage-link:hover {
    background-color: white;
    color: black;
}

.homepage-link:hover b {
    background-color: white;
    color: black;
}

.project-link {
    padding: 10px;
    border: 1px white solid;
    border-radius: 10px;
}

.resume-shortcut-sidebar {
    float: left;
    margin: 10px;
}

.resume-shortcut {
    padding: 8px 12px;
    transition: background-color 0.1s, color 0.1s;
}

.resume-shortcut:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.resume-skills-section {
    margin: 10px;
    padding: 20px;
    text-align: center;
    border: 1px white solid;
    border-radius: 10px;
}

.bio-img-container {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 420px;
    height: 560px;
}

.bio-img-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bio-img-container img:nth-child(2) {
    z-index: -1;
}

.bio-img-container img:nth-child(3) {
    z-index: -2;
}

#bio-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#bio-text {
    display: none;
    background-color: white;
    color: black;
    width: 20%;
}