<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
</head>
<body>

<ul class="navbar">
    <li><a href="/">Homepage</a></li>
    <li><a href="/portfolio">Portfolio</a></li>
    <li><a href="/resume">Resume</a></li>
    <li><a href="/bio">About Me</a></li>
</ul>

<div style="text-align:center;">
    Click on me to open my bio.
    <br>
    <br>
    <div class="bio-img-container">
        <img src="images/me.jpg" alt="Photo of me at Toronto's Distillery District." id="original-img">
        <img src="images/me_segmented.jpg" alt="A segmented version of this photo with a cutout of just me." id="segmented-img">
        <img src="images/me_black_background.jpg" alt="A version depicting just the cutout of me, with a black background." id="black-background-img">
    </div>
</div>

<div class="bio-text">
    <h2>Hoseok Lee</h2>
    An aspiring machine learning engineer who is passionate about making a positive impact through data.
</div>

</body>
</html>

<script src="static/script.js" defer></script>
<script src="static/bio.js" defer></script>