<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hoseok Lee</title>
    <link href="static/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
</head>
<body>

<div style="display:grid; grid-template-columns: auto auto;">

    <div style="display:flex; align-items:center; justify-content:center; height:100vh; padding:20px;">
        <div style="text-align:center;">
            <h1 style="font-size:40px;">Hoseok Lee</h1>
            <p style="font-size:26px;">Welcome to my personal website. Check out my portfolio, as well as my other hobbies.</p>
        </div>
    </div>

    <div class="homepage-link-container">
        <a href="/portfolio">
            <div class="homepage-link" style="font-size:20px;">
                <b style="font-size:24px;">Portfolio</b>
                <br>
                Check out some projects that I'm currently working on, as well as those I've completed in the past.
            </div>
        </a>
        <a href="/resume">
            <div class="homepage-link" style="font-size:20px;">
                <b style="font-size:24px;">Resume</b>
                <br>
                See my resume here.
            </div>
        </a>
        <a href="/bio">
            <div class="homepage-link" style="font-size:20px;">
                <b style="font-size:24px;">About Me</b>
                <br>
                Read more about me, e.g. what motivates me in my career and life, as well as that time I fell asleep
                with a chicken wing in my mouth when I was 5.
            </div>
        </a>
        <a href="https://onepressman-render.onrender.com/">
            <div class="homepage-link" style="font-size:20px;">
                <b style="font-size:24px;">ONEPRESSMAN</b>
                <br>
                My gymbro alter ego. It has links to my Instagram, where you can see me break my back under a couple
                hundred pounds at the gym.
            </div>
        </a>
    </div>

</div>





</body>
</html>