<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hoseok Lee</title>
    <link href="static/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
</head>
<body>

<div style="display:grid; grid-template-columns: auto auto;">

    <div style="display:flex; align-items:center; justify-content:center; height:100vh; padding:0px 100px;">
        <div style="text-align:center;">
            <h1 style="font-size:40px;">Hoseok Lee</h1>
            <p style="font-size:22px;">Welcome to my personal website. Click one of the links to the right to start, or
            one of the options below if you'd like to connect.</p>
            <br>
            <div style="display: grid; grid-template-columns: auto auto auto;">
                <a href="mailto:hoseokmlee@gmail.com" class="contact-link">Email</a>
                <a href="https://www.linkedin.com/in/hoseok-lee-388548165/" class="contact-link">LinkedIn</a>
                <a href="https://www.github.com/hmathlee" class="contact-link">GitHub</a>
            </div>
        </div>
    </div>

    <div class="homepage-link-container">
        <a href="https://www.github.com/hmathlee">
            <div class="homepage-link" style="font-size:16px;">
                <b style="font-size:24px;">Portfolio</b>
                <br>
                Check out some projects that I'm currently working on, as well as those I've completed in the past.
                <b>Note:</b> For now, this just links to my GitHub. Nothing's really been posted online yet, other than
                this website.
            </div>
        </a>
        <a href="/resume">
            <div class="homepage-link" style="font-size:16px;">
                <b style="font-size:24px;">Resume</b>
                <br>
                See my resume here.
            </div>
        </a>
        <a href="/bio">
            <div class="homepage-link" style="font-size:16px;">
                <b style="font-size:24px;">About Me</b>
                <br>
                Read more about me, e.g. my current projects and research interests.
            </div>
        </a>
    </div>

</div>





</body>
</html>