<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
</head>
<body>

<ul class="navbar">
    <li><a href="/">Homepage</a></li>
    <li><a href="/portfolio">Portfolio</a></li>
    <li><a href="/resume">Resume</a></li>
    <li><a href="/bio">About Me</a></li>
</ul>

<div class="project-link">
    Source code for the following projects can be found on my GitHub:
    <br>
    <br>
    <a href="https://github.com/hmathlee">
        <button style="font-size: 16px;">My GitHub</button>
    </a>
</div>

</body>
</html>

<script src="static/script.js" defer></script>