<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Resume</title>
    <link href="static/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
</head>
<body>

<ul class="navbar">
    <li><a href="/">Homepage</a></li>
    <li><a href="/portfolio">Portfolio</a></li>
    <li><a href="/resume">Resume</a></li>
    <li><a href="/bio">About Me</a></li>
</ul>

<div style="line-height:20px;">
    <h1 style="font-size:40px;">Hoseok Lee</h1>
    <div style="font-size:26px;">
        Machine Learning Engineer
    </div>
</div>

<br>
<hr>

<div style="line-height:20px;">
    <h2 style="font-size:30px;">Summary</h2>
    <ul style="list-style-type:square;">
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ul>
</div>

<div style="line-height:20px;">
    <h2 style="font-size:30px;">Skills</h2>
    <div style="display:grid; grid-template-columns: auto auto auto">
        <div class="resume-skills-section">
            <b style="font-size:20px;">Programming Languages</b>
            <br>
            Python | R | SQL | C++ | HTML | CSS | JavaScript | MySQL | Bash
        </div>
        <div class="resume-skills-section">
            <b style="font-size:20px;">Tools and Frameworks</b>
            <br>
            AWS | GCP | FastAPI | Git | PySpark | pandas | Django | Tableau
        </div>
        <div class="resume-skills-section">
            <b style="font-size:20px;">Machine Learning</b>
            <br>
            TensorFlow | PyTorch | Keras | LangChain | XGBoost | sklearn | TensorBoard
        </div>
    </div>
</div>

<div style="line-height:20px;">
    <h2 style="font-size:30px;">Experience</h2>

    <div>
        <div style="padding-right:10px;">
            <b style="float:left; font-size:18px;">Embedded Machine Learning Engineer</b>
            <em style="float:right; font-size:18px;">SEP-DEC 2023</em>
        </div>
        <br>
        ARCTURUS NETWORKS INC
        <ul style="list-style-type:square;">
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
        </ul>
    </div>

    <div>
        <div style="padding-right:10px;">
            <b style="float:left; font-size:18px;">Junior Data Scientist</b>
            <em style="float:right; font-size:18px;">JAN-AUG 2023</em>
        </div>
        <br>
        ALS GOLDSPOT DISCOVERIES LTD
        <ul style="list-style-type:square;">
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
        </ul>
    </div>

    <div>
        <div style="padding-right:10px;">
            <b style="float:left; font-size:18px;">Computer Vision Software Developer</b>
            <em style="float:right; font-size:18px;">MAY-AUG 2022</em>
        </div>
        <br>
        DEEP BREATHE
        <ul style="list-style-type:square;">
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
        </ul>
    </div>

    <div>
        <div style="padding-right:10px;">
            <b style="float:left; font-size:18px;">Deep Learning Research Engineer</b>
            <em style="float:right; font-size:18px;">SEP-DEC 2021</em>
        </div>
        <br>
        HUAWEI TECHNOLOGIES CO LTD
        <ul style="list-style-type:square;">
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
        </ul>
    </div>

    <div>
        <div style="padding-right:10px;">
            <b style="float:left; font-size:18px;">Biological Data Analysis Researcher</b>
            <em style="float:right; font-size:18px;">JAN-APR 2021</em>
        </div>
        <br>
        UNIVERSITY OF WATERLOO - DEPARTMENT OF APPLIED MATHEMATICS
        <ul style="list-style-type:square;">
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
        </ul>
    </div>
</div>

<div style="line-height:20px;">
    <h2 style="font-size:30px;">Selected Projects</h2>

    <div>
        <div style="padding-right:10px;">
            <b style="float:left; font-size:18px;">Chatbot Web Application</b>
        </div>
    </div>

    <br>
    <br>

    <div>
        <div style="padding-right:10px;">
            <b style="float:left; font-size:18px;">Kaggle Classification Competition</b>
        </div>
    </div>

    <br>
    <br>
</div>

<div style="line-height:20px;">
    <h2 style="font-size:30px;">Education</h2>
    UNIVERSITY OF WATERLOO
    <br>
    Bachelor's of Mathematics
    <br>
    <b>Expected Graduation:</b> August 2024
</div>

<h2></h2>

</body>
</html>

<script src="static/script.js" defer></script>