<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Resume</title>
    <link href="static/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
</head>
<body>

<ul class="navbar">
    <li><a href="/">Homepage</a></li>
    <li><a href="/portfolio">Portfolio</a></li>
    <li><a href="/resume">Resume</a></li>
    <li><a href="/bio">About Me</a></li>
</ul>

<div style="display:grid; grid-template-columns: auto auto;">
    <div class="resume-shortcut-sidebar">
        <h2 style="padding-left: 8px;">Outline</h2>
        <ul style="list-style-type:none; padding:0px;">
            <li class="resume-shortcut">Summary</li>
            <li class="resume-shortcut">Skills</li>
            <li class="resume-shortcut">Experience</li>
            <li class="resume-shortcut">Publications</li>
            <li class="resume-shortcut">Selected Projects</li>
            <li class="resume-shortcut">Education</li>
        </ul>
    </div>

    <div>
        <div style="line-height:20px;">
            <h1 style="font-size:40px;">Hoseok Lee</h1>
            <div style="font-size:26px;">
                Machine Learning Engineer
            </div>
        </div>

        <br>
        <hr>

        <div style="line-height:20px;">
            <h2 style="font-size:30px;">Summary</h2>
            <ul style="list-style-type:square;">
                <li>Machine Learning engineer with expertise in <b>training, evaluating, and deploying deep learning models</b>
                with <b>TensorFlow/Keras/PyTorch</b></li>
                <li>Proven track record in applying machine learning techniques to research and industrial domains</li>
                <li>Has experience with classical machine learning <b>(XGBoost, random forest)</b> and <b>deep learning</b>
</li>
                <li>Proficient in <b>Python/R/SQL</b>, with project experience in <b>FastAPI/Django/HTML/CSS/JavaScript</b></li>
            </ul>

        </div>

        <div style="line-height:20px;">
            <h2 style="font-size:30px;">Skills</h2>
            <div style="display:grid; grid-template-columns: auto auto auto">
                <div class="resume-skills-section">
                    <b style="font-size:20px;">Programming Languages</b>
                    <br>
                    Python | R | SQL | C++ | HTML | CSS | JavaScript | MySQL | Bash
                </div>
                <div class="resume-skills-section">
                    <b style="font-size:20px;">Tools and Frameworks</b>
                    <br>
                    AWS | GCP | FastAPI | Git | PySpark | pandas | Django | Tableau
                </div>
                <div class="resume-skills-section">
                    <b style="font-size:20px;">Machine Learning</b>
                    <br>
                    TensorFlow | PyTorch | Keras | LangChain | XGBoost | sklearn | TensorBoard
                </div>
            </div>
        </div>

        <div style="line-height:20px;">
            <h2 style="font-size:30px;">Experience</h2>

            <div>
                <div style="padding-right:10px;">
                    <b style="float:left; font-size:18px;">Embedded Machine Learning Engineer</b>
                    <em style="float:right; font-size:18px;">SEP-DEC 2023</em>
                </div>
                <br>
                ARCTURUS NETWORKS INC
                <ul style="list-style-type:square;">
                    <li>Automated a pill pouch conveyor system via heatseal detection with a <b>YOLOv5</b> model. Achieved <b>mAP
                        of over 95% (0.7 IoU threshold)</b>. Based on training metrics from <b>TensorBoard/Weights & Biases</b>,
                        identified feasible <b>image augmentations</b>.
                    </li>
                    <li>Wrote a <b>Bash command-line tool</b> to prepare image data for augmentation and YOLOv5 training.</li>
                    <li>Ensembled Neural Image Assessment (NIMA) and pose estimation models to predict aesthetic quality
                        scores (1-5 scaled) for client’s photo archive as part of an auto-rating application.</li>
                </ul>
            </div>

            <div>
                <div style="padding-right:10px;">
                    <b style="float:left; font-size:18px;">Junior Data Scientist</b>
                    <em style="float:right; font-size:18px;">JAN-AUG 2023</em>
                </div>
                <br>
                ALS GOLDSPOT DISCOVERIES LTD
                <ul style="list-style-type:square;">
                    <li>Retrieved and preprocessed rock core photos from <b>AWS, trained PyTorch U-Net++</b> to generate
                        segmentation masks. Applied perspective alignment with <b>OpenCV</b>, with outputs shown in a web
                        application to aid ALS Goldspot’s geologists in rock core analysis.
</li>
                    <li>Designed a custom ranking loss to <b>modify an active learning approach, improving accuracy by 4%
                        from reproduced results</b> when training labels were limited (10-40% of CIFAR10).</li>
                    <li>Visualized performance across hyperparameter search in a GUI using <b>Tkinter and Matplotlib</b>.</li>
                </ul>
            </div>

            <div>
                <div style="padding-right:10px;">
                    <b style="float:left; font-size:18px;">Computer Vision Software Developer</b>
                    <em style="float:right; font-size:18px;">MAY-AUG 2022</em>
                </div>
                <br>
                DEEP BREATHE
                <ul style="list-style-type:square;">
                    <li>Collaborated on experimental design to evaluate locally trained lung sliding detector on
                        internationally collected ultrasound scan data</li>
                    <li>Generated <b>SQL queries</b> to group data and avoid cross-patient codependence; scraped additional
                        data from online sources to evaluate model on datasets of varying quality</li>
                    <li>Achieved <b>92% fine-tuned detection model recall</b> on international data</li>
                </ul>
            </div>

            <div>
                <div style="padding-right:10px;">
                    <b style="float:left; font-size:18px;">Deep Learning Research Engineer</b>
                    <em style="float:right; font-size:18px;">SEP-DEC 2021</em>
                </div>
                <br>
                HUAWEI TECHNOLOGIES CO LTD
                <ul style="list-style-type:square;">
                    <li>Item 1</li>
                    <li>Item 2</li>
                    <li>Item 3</li>
                </ul>
            </div>

            <div>
                <div style="padding-right:10px;">
                    <b style="float:left; font-size:18px;">Biological Data Analysis Researcher</b>
                    <em style="float:right; font-size:18px;">JAN-APR 2021</em>
                </div>
                <br>
                UNIVERSITY OF WATERLOO - DEPARTMENT OF APPLIED MATHEMATICS
                <ul style="list-style-type:square;">
                    <li>Item 1</li>
                    <li>Item 2</li>
                    <li>Item 3</li>
                </ul>
            </div>
        </div>

        <div style="line-height:20px;">
            <h2 style="font-size:30px;">Publications</h2>

            Wu, D.; Smith, D.; VanBerlo, B.; Roshankar, A.; Lee, H.; Li, B.; Ali, F.; Rahman, M.; Basmaji, J.;
            Tschirhart, J.; et al. Improving the Generalizability and Performance of an Ultrasound Deep Learning Model
            Using Limited Multicenter Data for Lung Sliding Artifact Identification. <em>Diagnostics 2024</em>, 14, 1081.

            <br>
            <br>
        </div>

        <div style="line-height:20px;">
            <h2 style="font-size:30px;">Selected Projects</h2>

            <div>
                <div style="padding-right:10px;">
                    <b style="float:left; font-size:18px;">Chatbot Web Application</b>
                </div>
            </div>

            <br>
            <br>

            <div>
                <div style="padding-right:10px;">
                    <b style="float:left; font-size:18px;">Kaggle Classification Competition</b>
                </div>
            </div>

            <br>
            <br>
        </div>

        <div style="line-height:24px;">
            <h2 style="font-size:30px;">Education</h2>
            UNIVERSITY OF WATERLOO
            <br>
            Bachelor's of Mathematics
            <br>
            <b>Expected Graduation:</b> August 2024
        </div>
    </div>


</div>

</body>
</html>

<script src="static/script.js" defer></script>
<script src="static/resume.js" defer></script>